QMainWindow, QDialog {
    background: @cgreylight;
    qproperty-windowIcon: url(:/images/assets/images/icon.png);
}

QPushButton {
    background-color: @cpurple;
    border: none;
    width: 76px;
    height: 76px;
    margin: 0px;
    padding: 0px;
    border: 0px;

    color: white;
    font-weight: bold;
    font-size:14px;
    font-family: Gisha;
}
QPushButton:hover {
    background-color: @cblue;
}
QPushButton:pressed {
    background-color: @cgrey;
}

QLabel {
    color: white;
    font-weight: bold;
    font-size:14px;
    font-family: Gisha;
}

#TrackSlider {
    margin: 0px;
    border: 0px;
    padding: 0px;
    height: 14px;
}
#TrackSlider::groove:horizontal {
    background: white;
}
#TrackSlider::sub-page {
    background: @cpurple;
}
#TrackSlider::add-page {
    background: @cgrey;
}
#TrackSlider::handle {
    background: @cblue;
    width: 20px;
}

#VolumeSlider {
    margin: 0px;
    border: 0px;
    padding: 0px;
    width: 14px;
}
#VolumeSlider::groove:vertical {
    background: white;
}
#VolumeSlider::sub-page {
    background: @cgrey;
}
#VolumeSlider::add-page {
    background: @cpurple;
}
#VolumeSlider::handle {
    background: @cblue;
    height: 20px;
}

#MainWindow {
    text-align: center;
}
#Toolbar {
    text-align: center;
}

#toggle {
    background-color: @cpurple;
}
#toggle:hover {
    background-color: @cblue;
}
#toggle:pressed {
    background-color: @cpurple;
}

#fullscreen {
    background-color: @corange;
    border-image: url(:/images/assets/images/appbar.fullscreen.box.png);
}
#fullscreen:hover {
    background-color: @cblue;
}
#fullscreen:pressed {
    background-color: @corange;
}

#open {
    background-color: @cyellow;
    border-image: url(:/images/assets/images/appbar.film.select.png);
}
#open:hover {
    background-color: @cblue;
}
#open:pressed {
    background-color: @cyellow;
}

#sub {
    background-color: @cgreen;
    border-image: url(:/images/assets/images/appbar.text.sans.png);
}
#sub:hover {
    background-color: @cblue;
}
#sub:pressed {
    background-color: @cgreen;
}

#options {
    background-color: @cgreylight;
    border-image: url(:/images/assets/images/appbar.cog.png);
}
#options:hover {
    background-color: @cblue;
}
#options:pressed {
    background-color: @cgreylight;
}

#minimize {
    background-color: black;
    border-image: url(:/images/assets/images/appbar.app.minus.png);
}
#minimize:hover {
    background-color: @cblue;
}
#minimize:pressed {
    background-color: black;
}

/* Popups */
QTextBrowser {
    border: none;
    background: @cgrey;

    color: white;
    font-weight: bold;
    font-size:14px;
    font-family: Gisha;
}
